.logo{
  margin-top: 2%;
  width: 90px;
  height: 50px;
}


div{
  text-align: center;
}

.div2{
  margin: 0;
  margin-right: 50px ;
}

.iconeconf{
  width: 50px;
  height: 30px;
}
.iconeconf2{
  width: 40px;
  height: 25px;
}

p{
  margin-left: 13px;
}

.circle {
  background-color: #aaa;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}