<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

        <div>
        <ion-card *ngFor="let nutricionista of listaDeNutricionistas">
          <ion-card-header>
            <img src="{{nutricionista?.imagem}}">
            <ion-card-title>{{nutricionista?.nome}}</ion-card-title>
            <ion-card-subtitle>{{nutricionista?.endereco}}</ion-card-subtitle>
            <ion-card-subtitle>{{nutricionista?.telefone}}</ion-card-subtitle>
            <ion-card-subtitle>{{nutricionista?.email}}</ion-card-subtitle>
            <hr>
            <ion-button expand="default" color="primary">Enviar mensagem</ion-button>
          </ion-card-header>
      
          <ion-icon name="ios-build" (click)="viewNutricionista(nutricionista)" size="large"></ion-icon>
          <ion-icon name="trash" (click)="remove(nutricionista)" size="large"></ion-icon>
      
        </ion-card>
        </div>

</ion-content>
