div{
  text-align: center;
}

.div2{
  margin: 0;
  margin-right: 35px;
}

.iconeconf{
  width: 50px;
  height: 30px;
}

ion-card{
  width: 300px;
  height: 380px;
  margin: 0 auto; 
  float: none; 
  margin-top: 50px;

}

.circle {
    background-color: #aaa;
    border-radius: 50%;
    width: 170px;
    height: 170px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}
  
.circle img {
    position: absolute;
    bottom: 0;
    width: 100%;
}

