<ion-header>
  <ion-toolbar color="success">
    <ion-icon (click)="Home()" slot="start" name="arrow-back" class="iconeconf"></ion-icon>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-item>
      <ion-card>
        <ion-card-header>
          <img src="" class="logo">
          <ion-card-title>{{perfilNutri?.nome}}</ion-card-title>
          <ion-card-subtitle>{{perfilNutri?.endereco}}</ion-card-subtitle>
          <ion-card-subtitle>{{perfilNutri?.telefone}}</ion-card-subtitle>
          <ion-card-subtitle>{{perfilNutri?.email}}</ion-card-subtitle>
          <hr>
          <ion-button expand="default" color="primary" (click)="Chat()">Enviar mensagem</ion-button>
        </ion-card-header>
      </ion-card>
    </ion-item>
  </div>
</ion-content>