<ion-header>
  <ion-toolbar color="dark">
    <ion-title><img src="../../assets/imagens/logo.png" class="logo">NutriXeque</ion-title>
    
    <ion-icon slot="end" name="more" class="iconeconf"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>

    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="../../assets/imagens/roda-alimento.png" class="escolha">
          <h5>Alimentação</h5>
          <h6>Faça seus pedidos</h6>
          <ion-button expand="block" size="default" color="dark">Ir</ion-button>
        </ion-col>
        <ion-col>
          <img src="../../assets/imagens/nutricionista.png" class="escolha">
          <h5>Nutricionista Online</h5>
          <h6>Faça sua consulta</h6>
          <ion-button expand="block" size="default" color="dark">Ir</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="../../assets/imagens/exercicio.png" class="escolha">
          <h5>Exercicios Físicos</h5>
          <h6>Faça seus exercicios</h6>
          <ion-button expand="block" size="default" color="dark">Ir</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>